<div class="title">

    <h1><mark>Jacaranda Tree<mark></h1>



<h2> <mark>Buy and Sell used items.<mark> </h2>
</div>
<p>Welcome back user <%= @current_user.email if @current_user.present? %></p>


<div class="controls">
    <%= link_to 'See all items listings' , items_path %>
    <%= link_to 'Browse by category', categories_path %>
</div>
